doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    block title
    block meta
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:type" content="blog")
    block link
    link(rel="icon" href="images/favicon.ico")

  block body