// http://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/
@keyframes image-fade-in-out {
  0% {
    opacity: 0; animation-timing-function: $ease-in-out-cubic;
    transform: translate(16px, 0);
  }

  8% {
    opacity: 1;
    animation-timing-function: $ease-out-cubic;
    transform: translate(0, 0);
  }

  17% {
    opacity: 1;
    transform: translate(0, 0);
  }

  33% {
    opacity: 0;
    transform: translate(-16px, 0);
  }

  50% {
    opacity: 0;
    transform: translate(-16px, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-16px, 0);
  }
}
