// -----------------
// HTML
// -----------------
html {
  height: 100%;
}

// -----------------
// BODY
// -----------------
body {
  min-height: 100%;
  @include background(linear-gradient(#fff, #dcdcdf) no-repeat);
}

h1 {
  margin: 0;
}
