// -----------------
// HTML
// -----------------
html {
  // height: 100%;
}

// -----------------
// BODY
// -----------------
body {
  // height: 100%;
}

h1 {
  position: relative;
  left: 64px;
  width: 100%;
  max-width: 759px;
  margin: 65px auto 0;
  text-align: center;

  img {
    width: 100%;
  }
}

main {
  min-height: 100%;
  padding: 964px 0 70px;
  @include background(linear-gradient(#fff, #dcdcdf) no-repeat);
}

figure {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  // width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 547px;
  height: 914px;
  margin: 0 auto;
  background: url('../images/iphone.png') no-repeat;
  background-size: 443px 882px;
  background-position: center;
  transform: rotate(-9deg);

  img {
    position: absolute;
    top: 112px;
    left: 90px;
    width: 100%;
    max-width: 364px;
  }
}

.app-store {
  display: block;
  width: 100%;
  max-width: 406px;
  height: 143px;
  margin: 70px auto 0;
  background: url('../images/app-store-bg.png') no-repeat;
  text-align: center;
  line-height: 143px;

  img {
    position: relative;
    top: 24px;
    width: 100%;
    max-width: 280px;
  }
}
