// -----------------
// BODY
// -----------------
body {
  background: #fafbfc;
  transition: all $ease-in-out-cubic 6s;
  transition-delay: 1s;
}

// -----------------
// CONTAINER
// -----------------
.container {
  margin: 0 0 40px;

  @include breakpoint(reverso-papa-bear) {
    position: relative;
    max-width: 270px + 88px + 351px;
    height: 712px;
    margin: 0 auto;
    padding: 40px 0;

    path {
      transition: all $ease-in-out-cubic 6s;
      transition-delay: 1s;
    }

    &.white {
      path {
        fill: #fff;
      }
    }

    #app-store {
      path {
        fill: #555a5f;
      }
    }
  }
}

// -----------------
// HEADER
// -----------------
header {
  position: relative;
  width: 270px;
  margin: 40px auto 0;
  text-align: center;

  @include breakpoint(reverso-papa-bear) {
    margin: 0;
  }

  h1 {
    margin: 0;
    padding: 212px + 32px 0 0;
    line-height: 0;

    @include breakpoint(reverso-papa-bear) {
      padding: 212px + 32px + 80px 0 0;
    }
  }

  p {
    margin: 12px 0 0;
    line-height: 0;
  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include breakpoint(reverso-papa-bear) {
      top: 80px;
    }
  }

  a {
    display: block;
    width: 268px;
    height: 53px;
    margin: 28px 0 0;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(#000, .1), 0 0 5px 0 rgba(#000, .05);
    line-height: 55px;

    &:before {
      display: inline-block;
      content: '';
      margin: 0 7px 0 0;
      font-size: 22px;
      color: #000;
      vertical-align: middle;
    }

    &:active {
      background: #f5f6f7;
      box-shadow: 0 1px 2px 0 rgba(#000, .21) inset;
    }

    svg {
      vertical-align: middle;
    }
  }
}

// -----------------
// MAIN
// -----------------
main {
  @include breakpoint(reverso-papa-bear) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// -----------------
// SCREENS
// -----------------
.screens {
  display: none;

  @include breakpoint(reverso-papa-bear) {
    display: block;
  }

  h2 {
    margin: 0;
  }

  figure {
    @include breakpoint(reverso-papa-bear) {
      margin: 0;
      position: relative;
      width: 351px;
      height: 712px;
      background: url('../images/iphone6.png') no-repeat;
      background-size: 351px 712px;
    }
  }

  li {
    @include breakpoint(reverso-papa-bear) {
      overflow: hidden;
      position: absolute;
      top: 83px;
      left: 26px;
      width: 302px;
      height: 537px;
      border-radius: 3px;
      border: 1px solid #2b3729;
      z-index: 1;

      // @for $i from 1 through 5 {
      //   &:nth-child(#{$i}) {
      //     img {
      //       animation: image-fade-in-out $ease-in-out-cubic (5 * 10s) infinite #{($i - 1) * 10}s;
      //     }
      //   }
      // }
    }

    &.show {
      img {
        transform: translate3d(0, 0, 0);
      }
    }

    &.hide {
      img {
        transform: translate3d(-302px, 0, 0);
      }
    }
  }

  img {
    width: 100%;
    transition: all $ease-in-out-cubic 1.5s;
    transform: translate3d(302px, 0, 0);
  }
}

// -----------------
// FOOTER
// -----------------
footer {
  width: 270px;
  margin: 0 auto;
  text-align: center;

  @include breakpoint(reverso-papa-bear) {
    margin: 0;
  }

  p {
    margin: 16px 0 0;
    line-height: 0;
  }

  a {
    display: block;
    margin: 24px 0 0;
    line-height: 0;
  }
}
