html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  font-family: 'DIN', sans-serif;
  background: #e9e9e9;
  text-align: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

header {
  position: relative;

  div {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    transform: translate(-50%, 0);
    animation: make-box-shadow-mini ease-out, fade-up-mini ease-out;
    animation-duration: 3s, 1.2s;
    animation-delay: .2s, 1.1s;
    animation-fill-mode: forwards;

    @include breakpoint(reverso-papa-bear) {
      width: 364px;
      height: 364px;
      border-radius: 80px;
      animation: make-box-shadow ease-out, fade-up ease-out;
      animation-duration: 3s, 1.2s;
      animation-delay: .2s, 1.1s;
      animation-fill-mode: forwards;
    }
  }

  + p {
    margin: 15px 0 0;
    padding: 0 0 $footer-height;

    a {
      font-size: 24px;
      color: #ababab;
    }
  }
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-out .1s;

  @include breakpoint(reverso-papa-bear) {
    width: 256px;
    height: 256px;
    font-size: 256px;
  }

  > g {
   animation: fade-in ease-out 2s;
  }

  > g {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation: dash 2s linear alternate;
  }
}

h1 {
  padding: 213px 0 0;
  font-size: 30px;
  transition: all ease-out .1s;

  @include breakpoint(reverso-papa-bear) {
    padding: 390px 0 0;
    font-size: 60px;
  }
}

h2 {
  margin: 15px 0 0;
  font-size: 15px;
  transition: all ease-out .1s;

  @include breakpoint(reverso-papa-bear) {
    font-size: 30px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  font-size: 18px;
  color: #ababab;
  line-height: $footer-height;

  a {
    color: #ababab;
  }
}
