html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background: #e8e9e9;
  text-align: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

header {
  position: relative;

  div {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, 0);
    border-radius: 50px;
    background: #efefef;
    animation: make-box-shadow ease-out 1s;
    box-shadow: rgba(#000, .1) 0 1px 2px 0, rgba(#000, .3) 0 4px 6px 0;
    transition: all ease-out .1s;

    @include breakpoint(reverso-papa-bear) {
      width: 364px;
      height: 364px;
      border-radius: 80px;
      animation: make-box-shadow ease-out 1s;
      box-shadow: rgba(#000, .1) 0 2px 4px 0, rgba(#000, .3) 0 8px 12px 0;
    }
  }

  + p {
    padding: 0 0 $footer-height;

    a {
      font-size: 24px;
      color: #ababab;
    }
  }
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-out .1s;

  @include breakpoint(reverso-papa-bear) {
    width: 256px;
    height: 256px;
    font-size: 256px;
  }

  > g {
//    animation: fade-in ease-out 2s;
  }

  // > g {
  //   stroke-dasharray: 2000;
  //   stroke-dashoffset: 0;
  //   animation: dash 2s linear alternate;
  // }
}

h1 {
  padding: 218px 0 0;
  font-size: 30px;
  transition: all ease-out .1s;

  @include breakpoint(reverso-papa-bear) {
    padding: 380px 0 0;
    font-size: 60px;
  }
}

h2 {
  font-size: 15px;
  transition: all ease-out .1s;

  @include breakpoint(reverso-papa-bear) {
    font-size: 30px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  font-size: 18px;
  color: #ababab;
  line-height: $footer-height;

  a {
    color: #ababab;
  }
}
