extends /_layouts/_base

block title
  title ZEEEN
block meta
  meta(name="description", content="description")
  link(rel="icon", href="/images/global/favicon.ico")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild

block body
  body
    .content
      header
        h1 Zeeen
        h2 Dribbble client for iPhone
        div
          svg(width='134px', height='134px', viewbox='0 0 256 256', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
              title Icon
              path#path-1(d='M732,544 C789.437614,544 836,497.437614 836,440 C836,382.562386 789.437614,336 732,336 C674.562386,336 628,382.562386 628,440 C628,497.437614 674.562386,544 732,544 Z')
              g#Web(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                g#Desktop-HD(sketch:type='MSArtboardGroup', transform='translate(-604.000000, -312.000000)')
                  use#zeeen(stroke='#555A5F', stroke-width='48', sketch:type='MSShapeGroup', xlink:href='#path-1')

      p
        a(href="https://twitter.com/ZeeenApp") @ZeeenApp
    footer
      p
        |By 
        a(href="https://twitter.com/nobtaka") @nobtaka 
        |& 
        a(href="https://twitter.com/dtRock_19") @dtRock_19
