@keyframes make-box-shadow {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: rgba(#000, .1) 0 1px 2px 0, rgba(#000, .3) 0 4px 6px 0;

    @include breakpoint(reverso-papa-bear) {
      box-shadow: rgba(#000, .1) 0 2px 4px 0, rgba(#000, .3) 0 8px 12px 0;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// @keyframes dash {
//   from {
//     stroke-dashoffset: 2000;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }
