@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINBold.eot');
  src: url('../fonts/DINBold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINRegular.eot');
  src: url('../fonts/DINRegular.woff');
  font-weight: lighter;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINMedium.eot');
  src: url('../fonts/DINMedium.woff');
  font-weight: normal;
}
