doctype html
html
  head
    meta(charset="utf-8")
    title ZEEEN - Dribbble client for iPhone -
    block meta-info
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content="ZEEEN is an Dribbble client for iPhone. ZEEEN utilizes the entire screen of your mobile device to present every shot with stunning colorization. Your device becomes each work. This app was designed to provide the optimal Dribbble browsing experience for iOS devices. ZEEEN brings the work of the most talented designers from all over the world straight to your fingertips.")

    link(rel="icon", href="favicon.png")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    //- link(rel="shortcut icon", href="favicon.ico")

    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Lato:100,400,700')
    // build:css({.tmp,app}) styles/main.min.css
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild

    meta(name="og:title" content="ZEEEN - Dribbble client for iPhone -")
    meta(name="og:image" content="ogp.png")
    meta(name="og:type" content="product")
    meta(name="og:description" content="ZEEEN is an Dribbble client for iPhone. ZEEEN utilizes the entire screen of your mobile device to present every shot with stunning colorization. Your device becomes each work. This app was designed to provide the optimal Dribbble browsing experience for iOS devices. ZEEEN brings the work of the most talented designers from all over the world straight to your fingertips..")

    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:creator', content='@ZeeenApp')
    meta(name='twitter:title', content='ZEEEN - Dribbble client for iPhone -')
    meta(name='twitter:description', content='ZEEEN is an Dribbble client for iPhone. ZEEEN utilizes the entire screen of your mobile device to present every shot with stunning colorization. Your device becomes each work. This app was designed to provide the optimal Dribbble browsing experience for iOS devices. ZEEEN brings the work of the most talented designers from all over the world straight to your fingertips.')
    meta(name='twitter:image:src', content='http://superluckyboy.com/zeeen/twitter-card.png')

  body
    block content

    // build:js({.tmp,app}) scripts/app.min.js
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="scripts/app.js")
    // endbuild
