extends /views/_base

block content
  main(role="main")
    h1
      img(src="images/ZEEEN.png", alt="")
    figure
      img(src="images/screen1.png", alt="")
      //- img(src="images/screen2.png", alt="")
    a.app-store(href="" target="_blank")
      img(src="images/app-store.svg", alt="")
