extends /views/_base

block content
  .container
    header
      h1
        img(src="images/ZEEEN.svg", alt="", width="189")
      p
        img(src="images/description.svg", alt="Dribbble client for iPhone")
      figure
        img(src="images/icon.png", alt="" width="212")
      a(href="" target="_blank")
        img(src="images/download.svg", alt="Download on the App Store")
    main(role="main")
      section.screens
        h2
          figure
            img(src="images/screen1.png", alt="")
    footer
      p
        small
          img(src="images/required.svg", alt="Required iOS 8.2+")
      a(href="" target="_blank")
        img(src="images/twitter-acount.svg", alt="@ZeeenApp")
